######################
# Project Specific
######################
.vagrant
*.log
*.pid
*.license

######################
# Package Files
######################
*.war
*.jar

######################
# Compressed archives
######################
*.zip
*.tar.gz
*.gz

######################
# OS crud
######################
Thumbs.db
Desktop.ini
.DS_Store
._*
.Spotlight-V100
.Trashes

######################
# initdb files
######################
*.sql
